In [4]:
import pandas as pd 
import numpy as np

Index = np.array([1 , 2 , 3 , 4])
Value = np.array(['a' , 'b' , 'c' , 'd'])
print(pd.Series(Value , index=Index))

1    a
2    b
3    c
4    d
dtype: object

In [8]:
data = [['Youssef',22],['Ali',25],['Hanane',19]]
df = pd.DataFrame(data , columns=['Name' , 'Age'])
df['Age'] = df['Age'].astype(float)
print(f"DataFrame : \n{df}")

DataFrame :
      Name   Age
0  Youssef  22.0
1      Ali  25.0
2   Hanane  19.0

In [38]:
pathDf = '../Data/clients.csv'
dfClient = pd.read_csv(
    pathDf ,
    skiprows= [ 1 , 2] ,
    usecols = ['nom' , 'prenom' , 'age' , 'date_naissance' , 'salaire']
)
dfClient['Test01'] = dfClient['age'] * 10
print(f"Data from DF Client : \n{dfClient}")
# dfClient.drop(["Test01" , "salaire"] , axis=0 , inplace=True) Pour Supprimer des ligne ou des colones 
# del dfClient['Test01'] Pour supprimer un seule ligne ou bien colone
# dfClient.rename(columns={'salaire' : 'Yearly_Salary'} , inplace=True)
# Pour sauvgarder dans un csv
# df.to_csv('Test.csv')

Data from DF Client :
          nom    prenom  age  salaire date_naissance  Test01
0     Mcguire  Jonathan   59   119138     1984-08-26     590
1       Olsen  Jennifer   30   140589     1977-05-10     300
2        Meza  Jennifer   56    57789     1965-07-09     560
3       Smith   Stephen   58    74429     1964-03-14     580
4      Cherry  Savannah   22   104091     1962-09-14     220
..        ...       ...  ...      ...            ...     ...
93      Short   Valerie   51   130703     1992-03-18     510
94  Rodriguez    Amanda   47   104754     1984-09-05     470
95    Collier    Mariah   53   139429     1978-08-21     530
96      Hayes   Matthew   45   101476     1968-07-21     450
97   Cantrell      John   38   112067     1976-05-29     380

[98 rows x 6 columns]

In [61]:
# Slicing
rowSelection01 = dfClient.loc[ : 4 , ['nom' , 'age']]

# Concat
data01 = {
    "fullName" : ['MAFTOUH' , 'SAROUTE' , 'EL MEZDI'] ,
    "age" : [20 , 23 , 21] ,
}

df01 = pd.DataFrame(data01)
df02 = pd.DataFrame({"fullName" : "Test" , "age" : 24} , index = [0])
df03 = pd.concat([df01 , df02]).reset_index(drop=True)
df03.rename(index={0 : 'U01' , 1 : 'U02'} , inplace=True)
print(df03)
df03.loc[['U01' , 'U02']]
########## Sort Rows
df03.sort_index(inplace=True)
df03.sort_index(ascending=True , inplace=True) # true dans le sans inversse
########## Sort Cols
df03.sort_index(axis=1 , inplace=True)
########## Sort By Col 1
df03.sort_index(by="fullName" , inplace=True)
########## Apply a function 
df03['Moyenne'] = df03.apply(np.mean(df03['age']))

     fullName  age
U01   MAFTOUH   20
U02   SAROUTE   23
2    EL MEZDI   21
3        Test   24

In [63]:
# Aggregate (min , max , mean , sum , count , median , std , unique)
df03.aggregate({
    "age" : ["sum" , "min"]
})

     age
sum   88
min   20